# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Build output (개발 임시 파일만 제외)

# Lockfiles
package-lock.json

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bun
.bun
bun.lockb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

