.second-content {
  position: relative;
  width: 1080px;
  height: 1445px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.low-mode .second-content {
  position: relative;
  width: 1080px;
  height: 550px;
  font-size: 4rem;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.high-contrast .second-content{
  background:#000000 !important;
}

.second-up-content {
  height: 255px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-mode .second-up-content {
  height: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-tabs {
  width: 760px;
}

.low-mode .menu-tabs {
  width: 988px;
  padding-left: 10px;
}

.menu-tabs-flex-div {
  display:flex;
  font-weight: 500;
  /* gap: 12px; */
}

.tab-button {
  border: none;
  border-radius: 10px;
  background-color: var(--tab-btn-background-color);
  color: var(--tab-btn-color);
  font-size: 4rem;
  padding: 15px;
  height: 76px;
  transition: background-color 0.3s;
  display:flex;
  justify-content:center;
  align-items:center;
}

.low-mode .tab-button{
  padding: 10px;
  letter-spacing: -1px;
}

.high-contrast .tab-button{
  color: #DBDBDB;
}

.tab-button.active {
  position:relative;
  background-image:var(--active-btn-img);
  background-position:96% 15%;
  background-size:12px 12px;
  background-repeat:no-repeat;
  background-color: var(--layout-active-btn-color); /* 활성화된 탭의 배경색 */
  color: var(--layout-active-text-color); /* 활성화된 탭의 텍스트 색 */
}

.secondpage-long-rowline {
  width: 760px;
  height: 0.5px;
  background: #bbbbbb;
  margin: 15px 0;
  padding: 0;
}

.secondpage-short-colline {
  width: 2px;
  height: 21px;
  background: #DBDBDB;
  margin: auto;
  padding: 0;
}

/* 메뉴 그리드 */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3x3 배열 */
  gap: 20px;
  margin: 15px 0 0 0;
}

.low-mode .menu-grid {
  display: flex;
  gap:30px;
  margin-top: 20px;
}

.menu-item.pressed {
  background: #eedfd2;
}

/* 메뉴 아이템 */
.menu-item {
  /* background: linear-gradient(to bottom, white, #f1f1f1); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 285px;
  height: 330px;
  border: 1px solid #757575;
  border-radius: 8px;
  padding: 15px 40px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  word-break:keep-all;
}

 .low-mode .menu-item {
  /* background: linear-gradient(to bottom, white, #f1f1f1); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 245px;
  height: 305px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 35px 40px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  word-break:keep-all;
}

.high-contrast .menu-item{
  background:#FFFFFF !important;
  border: 1px solid #bdbdbd;
}
.menu-item .txt-box {
  position:absolute;
  bottom:0;
  left:0; 
  right:0;
  height:220px;
  display:flex;
  padding: 60px 10px 10px 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom, /* 위에서 아래로 */
    transparent 0%, /* 시작 색상 */
    #F8F8F8 30%, /* 43% 지점 색상 */
    #EFEFEF 100% /* 끝 색상 */);
    pointer-events: none;
}

.low-mode .menu-item .txt-box {
  position:absolute;
  bottom:0;
  left:0; 
  right:0;
  height:220px;
  display:flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content:space-between;
  background: linear-gradient(
    to bottom, /* 위에서 아래로 */
    transparent 0%, /* 시작 색상 */
    #F8F8F8 40%, /* 40% 지점 색상 */
    #EFEFEF 100% /* 끝 색상 */);
    pointer-events: none;
}

.high-contrast .menu-item .txt-box {
  color:#FFFFFF !important;
  background: linear-gradient(
    to bottom, /* 위에서 아래로 */
    transparent 0%, /* 시작 색상 */
    black 25%, /* 25% 지점 색상 */
    black 100% /* 끝 색상 */) !important;
}

.menu-item img {
  width: 100%;
  height: 152px;
  padding: 0 60px;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  pointer-events: none;
}

.txt-box p:nth-child(1) {
  font-size: 4rem;
  color: #252525;
}

.txt-box p:nth-child(2) {
  font-size: 4rem;
  color: #252525;
  font-weight: 500;
  padding-bottom: 7px;
}
.high-contrast .txt-box p:nth-child(1) {
  color: #fafafa !important;
}
.high-contrast .txt-box p:nth-child(2) {
  color: #ffe100 !important;
}


/* 페이지네이션 */
.pagination {
  position:absolute;
  bottom: 54px;
  left:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.low-mode .pagination {
  position:fixed;
  bottom: 16.7%;
  left:80.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 184px;
  height: 64px;
  background-color: var(--pagination-btn-background-color);
  color: var(--layout-circle-background-color);
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.low-mode .pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  min-width: 160px;
  height: 64px;
  background-color: var(--pagination-btn-background-color);
  color: var(--layout-circle-background-color);
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: e5e5e5;
  border: 1px solid gray;
  cursor: not-allowed;
}
.low-mode .tab-pagination {
  color: #ffffff !important;
}
.high-contrast.low-mode .tab-pagination{
  color: #8C8C8C !important;
}

.tab-button:focus{
  border : 6px dashed #FF56DD;
  padding: 9px;
  background-color: #3B3B3B;
  color: white;
}
.tab-button.active:focus{
  border : 6px dashed #FF56DD;
  background-color: #6C472D;
}
.menu-item:focus{
  border : 6px dashed #FF56DD;
  padding: 3px 34px;
}
.pagination button:focus{
  background-color: #969696;
  color: white;
}
.high-contrast .pagination button:focus{
  background-color: #252525;
}
.second-footer-btn:focus{
  border : 6px dashed #FF56DD;
  background-color: #3B3B3B;
}
.second-footer-btn2:focus{
  border : 6px dashed #FF56DD;
  background-color: #6C472D;
}
.high-contrast .second-footer-btn2.disabled:focus{
  border : 6px dashed #FF56DD !important;
}
.high-contrast .second-footer-btn2:focus{
  background-color: #FFE101;
}
.second-footer-btn2.disabled:focus{
  background-color: #000000;
}