.third-content {
  position: relative;
  width: 1080px;
  height: 1444px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.low-mode .third-content {
  position: relative;
  width: 1080px;
  height: 470px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.high-contrast .third-content{
  background: black !important;
}

.third-up-content {
  width: 100%;
  height: 238px;
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-mode .third-up-content {
  width: 100%;
  height: 100px;
  font-weight: 600;
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.high-contrast .third-up-content {
  color: white !important;
}

.third-middle-content {
  width: 100%;
  height: 70px;
  background-color: var(--layout-default-btn-color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third-main-content {
  width: 100%;
  height: 1127px;
  padding: 30px 75px;
}

.low-mode .third-main-content {
  width: 100%;
  height: 100%;
  padding: 3px 30px;
}


.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 157px;
}

.low-mode .order-item {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 97.5px;
  line-height: 44px;
}

.row-line {
  width: 906px;
  height: 1px;
  background-color: lightgray;
}

.low-mode .row-line {
  width: 820px;
  height: 1px;
  background-color: lightgray;
}

.order-index {
  width: 43px;
  height: 43px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.order-image-div {
  position: relative;
  width: 105px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.high-contrast .order-image-div{
  background: white !important;
}

.order-image {
  width: 40px;
  height: 80px;
}

.low-mode .order-image-div {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.low-mode .order-image {
  width: 30px;
  height: 70px;
}

.order-name {
  position: absolute;
  left: 220px;
  width: 190px;
  word-break: keep-all;
  font-size: 4rem;
}

.low-mode .order-name {
  position: absolute;
  left: 145px;
  width: 190px;
  word-break: keep-all;
  font-size: 4rem;
}

.high-contrast .order-name{
  color: #fafafa !important;
}

.order-quantity {
  position: absolute;
  left: 450px;
  display: flex;
  align-items: center;
}

.low-mode .order-quantity {
  position: absolute;
  left: 360px;
  display: flex;
  align-items: center;
}
.low-mode .qty-btn {
  width: 63px;
  height: 63px;
  background-color: var(--qty-btn-background-color);
  border: none;
  border-radius: 5px;
  font-size: 4rem;
  color: var(--qty-btn-color);
  cursor: pointer;
}
.qty-btn {
  width: 75px;
  height: 73px;
  background-color: var(--qty-btn-background-color);
  border: none;
  border-radius: 5px;
  font-size: 4rem;
  color: var(--qty-btn-color);
  cursor: pointer;
}

.high-contrast .qty-btn{
  border: 1px solid lightgray !important;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 75px;
  height: 73px;
}

.high-contrast .qty{
  border-bottom: none !important;
  color: #ffe101 !important;
  background: #252525 !important;
}

.low-mode .order-price {
  position: absolute !important;
  left: 600px !important;
  color: #1f1f1f !important;
  font-size: 4rem !important;
  margin-left: 10px !important;
  min-width: 80px !important;
  text-align: right !important;
}

.order-price {
  position: absolute !important;
  left: 720px !important;
  color: #1f1f1f !important;
  font-size: 4rem !important;
  margin-left: 10px !important;
  min-width: 80px !important;
  text-align: right !important;
}
.high-contrast .order-price{
  color: #fafafa !important; 
}


.delete-btn {
  left: 910px;
  position: absolute;
  width: 74px;
  height: 74px;
  cursor: pointer;
  border-radius: 9px;;
  background-color: #626262;
  display:flex;
  justify-content: center;
  align-items: center;
}

.high-contrast .delete-btn{
  background-color: #757575;
}

.low-mode .delete-btn {
  left: 780px;
  position: absolute;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.delete-btn img{
  pointer-events: none;
  width: 35px;
  height: 40px;;
}

/* 페이지네이션 */
.pagination2 {
  position:absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.low-mode .pagination2 {
  position:fixed;
  bottom: 15.5%;
  left:81.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  min-width: 160px;
  height: 64px;
  background-color: var(--pagination-btn-background-color);
  color: var(--layout-circle-background-color);
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination2 button:disabled {
  background-color: e5e5e5;
  border: 1px solid gray;
  cursor: not-allowed;
}

.qty-btn:focus{
  background-color: #8B8B8B;
}
.delete-btn:focus{
  background-color: #3B3B3B;
  border:none;
}
.high-contrast .delete-btn:focus{
  background-color: #8B8B8B;
}
.pagination2 button:focus{
  background-color: #969696;
  color: white;
}