@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard GOV";
  src: url("/fonts/PretendardGOV-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

